* {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #4E5882;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading {
    position: relative;
    width: 110px;
    height: 110px;
}

.loading div {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 4px #19191946;
}

.loading div:nth-child(1){
    width: 110px;
    height: 110px;
    border-radius: 50%;
    animation: shrink-expand-1 4s ease-in-out infinite;
}

.loading div:nth-child(2){
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    animation: shrink-expand-2 4s ease-in-out infinite;
}

.loading div:nth-child(3){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 40px;
    left: 40px;
    animation: shrink-expand-3 4s ease-in-out infinite;
}

@keyframes shrink-expand-1 {
    0% {
        transform: scale(0);
    }
    35%, 75% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes shrink-expand-2 {
    0%,20% {
        transform: scale(0);
    }
    40%, 65% {
        transform: scale(1);
    }
    90%, 100% {
        transform: scale(0);
    }
}

@keyframes shrink-expand-3 {
    0%, 35% {
        transform: scale(0);
    }
    50%, 55% {
        transform: scale(1);
    }
    75%, 100% {
        transform: scale(0);
    }
}